
.flex__row {
  display: flex;
  flex-wrap:wrap;
}

.flex__1 {
  position: relative;
  width: 33.3333%;
}

.icon-add {
  height: 30px;
  line-height: 30px;
  font-size: 25px;
}

.box {

}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bg_blue {
  background-color: #336699;
}
.bg_green {
  background-color: #4cd964;
}
.bg_purple {
  background-color: #6b46e5;
}

.content-section {
  transition:all 0.5s ease;
  opacity:1;
}
.content-section.mask {
   opacity:0.1;
}

.select-section {
  z-index:10;
  transition:height 0.5s ease;
  height:0px;
}
.select-section.active {
  height:300px;
}
.select-item {
  text-align:center;
}
